<div class="tool_img">
  <div class="row">
    <div class="tool_content col-8">
      <h2 class="title">{{ include.title }}</h2>
      <p class="article_description">
        {{ include.description }}
      </p>
      {% for item in site.data['analyze-the-data-information'].index['available-link-data'] %}
        <h3 class="article_heading">{{ item.title }}</h3>
        {% assign descriptions = item.description | newline_to_br | split: '<br>' %}
        {% for description in descriptions %}
          <p class="article_description">{{ description }}</p>
        {% endfor %}
        <div class="row data-table">
          <div class="col-3">
            <p class="data-table-heading">{{ item['country/region-header'] }}</p>
            {% for row in item.data_table %}
              <p class="data-table-list">{{ row.country_region }}</p>
            {% endfor %}
          </div>
          <div class="col-8">
            <p class="data-table-heading">{{ item['link-header'] }}</p>
            {% for row in item.data_table %}
              {% if row.access_link != '' %}
                <a class="data-table-link" href="{{ row.access_link }}">{{ row.access_link }}</a>
                <br>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        {% assign descriptions = item.description2 | newline_to_br | split: '<br>' %}
        {% for description in descriptions %}
          <p class="article_description">{{ description }}</p>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
