<!-- COUNTRIES -->
{%- if include.search -%}
    <div class="container mt-100 mb-100 search-continent-main">
        <div class="row">
            <div class="col-12 col-lg-8 m-auto">
                <ul class="continent-country-history">
                    <li>ABC</li>
                    <li>DEF</li>
                    <li>GHI</li>
                    <li>JKL</li>
                    <li>MNO</li>
                    <li>PQR</li>
                    <li>STU</li>
                    <li>VWX</li>
                    <li>YZ#</li>
                </ul>
                <div class="continent-country-history-mobile">
                    <ul>
                        <li>ABC</li>
                        <li>DEF</li>
                        <li>GHI</li>
                        <li>JKL</li>
                        <li>MNO</li>
                    </ul>
                    <ul>
                        <li>PQR</li>
                        <li>STU</li>
                        <li>VWX</li>
                        <li>YZ#</li>
                    </ul>
                </div>
                <div class="continent-search-bar">
                    <div class="current-location-search">
                        <input type="text" placeholder="Search country">
                        <img src="/assets/img/location.png" alt="">
                    </div>
                    <button type="button"><span>Search</span><svg width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.0488 18.0609C21.7308 14.8557 21.5685 10.0709 18.5622 7.05683C15.3834 3.86989 10.2292 3.86989 7.05036 7.05683C3.87254 10.2428 3.87254 15.4074 7.05036 18.5933C10.0743 21.6243 14.8858 21.772 18.0839 19.0364L22.1615 23.1309C22.4289 23.3994 22.8633 23.4003 23.1317 23.1329C23.4002 22.8656 23.4011 22.4312 23.1337 22.1627L19.0488 18.0609ZM17.5908 8.02579C14.9481 5.37633 10.6645 5.37633 8.0218 8.02579C5.37814 10.6762 5.37814 14.9739 8.02174 17.6243C10.6644 20.2732 14.9481 20.2732 17.5908 17.6244C20.2344 14.9739 20.2344 10.6762 17.5908 8.02579Z"/></svg></button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<section class="container mt-100 mb-100 data-continent-main">
    {% assign array = site.data[include.data] %}
    <div class="data-continent-fillter">
        <div class="continent-count">{{ array | size }} countries</div>
        <div class="continent-dropdown">
            Sort by:
            <div class="select-box">
                <div class="options-container">
                    <div class="option">
                        <input type="radio" class="radio" id="grade-a" name="category">
                        <label for="grade-a">Highest Grade</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="grade-b" name="category">
                        <label for="grade-b">Average</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="grade-c" name="category">
                        <label for="grade-c">Grade</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="grade-d" name="category">
                        <label for="grade-d">Low</label>
                    </div>
                </div>
                <div class="selected">
                    <h3>Name</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row continent-data-section">
        {% for box in array %}
            <section class="col-6 col-md-4 col-lg-3 hover-zoomin">
                <a href="{{ box.url }}"><img src="{{ box.image }}" alt="{{ box.title }}"></a>
                <h3><a href="{{ box.url }}">{{ box.title }}</a></h3>
            </section>
        {% endfor %}
    </div>
    {%- if include.more -%}
        <div class="text-center continent-load-more">
            <button type="button" class="load-more-btn">Load more (12 of 44)</button>
        </div>
    {% endif %}
</section>
<!-- /COUNTRIES -->