<div class="container-fluid">
  {% if include.header %}
    <div class="section-hero-text">
      <p>{{ include.header }}</p>
    </div>
  {% endif %}
  {% if include.title %}
    <div class="row">
      <p class="new-about-title col-12">
        {{ include.title }}
      </p>
    </div>
  {% endif %}
  {% assign data = site.data['env-descriptors'].index %}
  <div class="grid-columns grid-columns-px-15">
    <div class="row">
      {% for item in data limit: 3 %}
        <div class="col-12 col-sm-6 col-md-4 grid-item">
          <div class="img-container">
            {% if forloop.index0 == 0 %}
              <img src="{{ item.image }}" class="img-fluid" alt="Living Earth logo">
            {% elsif forloop.index0 == 1 %}
              <img src="/assets/img/env_descriptors/envdes_australia.png" class="img-fluid" alt="Living Earth logo">
            {% elsif forloop.index0 == 2 %}
              <img src="/assets/img/env_descriptors/envdes-png.png" class="img-fluid" alt="Living Earth logo">
            {% endif %}
          </div>
          <div class="grid-item-content">
            <a class="grid-item-title" href="{{ item.url }}">{{ item.title }}</a>
            <p class="grid-item-subtitle">{{ item.subtitle }}</p>
            <p class="grid-item-desc">{{ item.content }}</p>
            <p class="grid-item-tagline">{{ item.tagline }}</p>
          </div>
        </div>
      {% endfor %}
      {% for item in data offset: 3 limit: 3 %}
        <div class="col-12 col-sm-6 col-md-4 grid-item">
          <div class="img-container">
            <a href="{{ item.url }}"><img src="{{ item.image }}" class="img-fluid" alt="Living Earth logo"></a>
          </div>
          <div class="grid-item-content">
            <a class="grid-item-title" href="{{ item.url }}">{{ item.title }}</a>
            <p class="grid-item-subtitle">{{ item.subtitle }}</p>
            <p class="grid-item-desc">{{ item.content }}</p>
            <p class="grid-item-tagline">{{ item.tagline }}</p>
          </div>
        </div>
      {% endfor %}
      {% for item in data offset: 6 %}
        <div class="col-12 col-sm-6 col-md-4 grid-item">
          <div class="img-container">
            <a href="{{ item.url }}"><img src="{{ item.image }}" class="img-fluid" alt="Living Earth logo"></a>
          </div>
          <div class="grid-item-content">
            <a class="grid-item-title" href="{{ item.url }}">{{ item.title }}</a>
            <p class="grid-item-subtitle">{{ item.subtitle }}</p>
            <p class="grid-item-desc">{{ item.content }}</p>
            <p class="grid-item-tagline">{{ item.tagline }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
