<div class="tool_img">
  <div class="row">
    <div class="tool_content col-8">
      <h2 class="title">{{ include.title }}</h2>
      <p class="article_description">
        {{ include.description }}
      </p>
      {% for item in site.data['get-the-data-information'].index['available-link-data'] %}
        <h3 class="article_heading">{{ item.title }}</h3>
        {% assign descriptions = item.description | newline_to_br | split: '<br>' %}
        {% for description in descriptions %}
          <p class="article_description">{{ description }}</p>
        {% endfor %}
        <div class="row data-table">
          <div class="col-3">
            <p class="data-table-heading">{{ item['country/region-header'] }}</p>
            {% for row in item.data_table %}
              <p class="data-table-list">{{ row.country_region }}</p>
            {% endfor %}
          </div>
          <div class="col-8">
            <p class="data-table-heading">{{ item['link-header'] }}</p>
            {% for row in item.data_table %}
              <a class="data-table-link" href="{{ row.access_link }}">{{ row.access_link }}</a>
              <br>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      <h3 class="article_heading">Can the Earthtrack data be accessed via a web-service?</h3>
      <p class="article_description">
        All Earthtrack points can be accessed by connecting to the Web Feature Service on your software through the URL
        <a href="https://earthtrack.aber.ac.uk/services/wfs">https://earthtrack.aber.ac.uk/services/wfs</a>.
        Instructional videos for both QGIS and ARCGIS Pro are available at [LINK: VIDEO – QGIS, LINK: VIDEO – ARCGIS
        PRO.
      </p>
    </div>

    <div class="col-4 mt-5">
      <video width="auto" controls>
        <source src="mov_bbb.mp4" type="video/mp4">
        <source src="mov_bbb.ogg" type="video/ogg">
        Your browser does not support HTML video.
      </video>
    </div>
  </div>
</div>
