<div class="tool_img">
  <div class="row">
    <div class="tool_content col-12 col-lg-8">
      <h2 class="title">{{ include.title }}</h2>
      <p class="article_description">
        {{ include.description }}
      </p>
      {% for item in site.data['get-the-data-information'].index['available-link-data'] %}
        <h3 class="article_heading">{{ item.title }}</h3>
        {% assign descriptions = item.description | newline_to_br | split: '<br>' %}
        {% for description in descriptions %}
          <p class="article_description">{{ description }}</p>
        {% endfor %}
        
        <table class="data-table">
          <thead>
            <tr>
              <th class="data-table-th">{{ item['country/region-header'] }}</th>
              <th class="data-table-th">{{ item['link-header'] }}</th>
            </tr>
          </thead>
          <tbody>
            {% for row in item.data_table %}
              <tr>
                <td class="data-table-td">{{ row.country_region }}</td>
                <td class="data-table-td"><a class="data-table-link" href="{{ row.access_link }}">{{ row.access_link }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
      
      <h3 class="article_heading">{{ site.data.get-the-data-information.index.bottom-box.title }}</h3>
      <p class="article_description">
        {{ site.data.get-the-data-information.index.bottom-box.description_1 }}
        <a href="{{ site.data.get-the-data-information.index.bottom-box.url }}">{{ site.data.get-the-data-information.index.bottom-box.url }}</a>.
        {{ site.data.get-the-data-information.index.bottom-box.description_2 }}
      </p>
    </div>

    <div class="col-12 col-lg-4 mt-5">
      <video width="auto" controls>
        <source src="{{ site.data.get-the-data-information.index.video.video_1.src }}" type="{{ site.data.get-the-data-information.index.video.video_1.type }}">
        <source src="{{ site.data.get-the-data-information.index.video.video_2.src }}" type="{{ site.data.get-the-data-information.index.video.video_2.type }}">
        {{ site.data.get-the-data-information.index.video.title }}
      </video>
    </div>
  </div>
</div>
