<div class="tool_img">
  <div class="row">
    <div class="tool_content col-8">
      <h2 class="title">{{ include.title }}</h2>
      <p class="article_description">
        {{ include.description }}
      </p>
      {% for item in site.data['get-the-data-information'].index['available-link-data'] %}
        <h3 class="article_heading">{{ item.title }}</h3>
        {% assign descriptions = item.description | newline_to_br | split: '<br>' %}
        {% for description in descriptions %}
          <p class="article_description">{{ description }}</p>
        {% endfor %}
        <div class="row data-table">
          <div class="col-3">
            <p class="data-table-heading">{{ item['country/region-header'] }}</p>
            {% for row in item.data_table %}
              <p class="data-table-list">{{ row.country_region }}</p>
            {% endfor %}
          </div>
          <div class="col-8">
            <p class="data-table-heading">{{ item['link-header'] }}</p>
            {% for row in item.data_table %}
              <a class="data-table-link" href="{{ row.access_link }}">{{ row.access_link }}</a>
              <br>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      <h3 class="article_heading">{{ site.data.get-the-data-information.index.bottom-box.title }}</h3>
      <p class="article_description">
        {{ site.data.get-the-data-information.index.bottom-box.description_1 }}
        <a href="{{ site.data.get-the-data-information.index.bottom-box.url }}">{{ site.data.get-the-data-information.index.bottom-box.url }}</a>.
        {{ site.data.get-the-data-information.index.bottom-box.description_2 }}
      </p>
    </div>

    <div class="col-4 mt-5">
      <video width="auto" controls>
        <source src="{{ site.data.get-the-data-information.index.video.video_1.src }}" type="{{ site.data.get-the-data-information.index.video.video_1.type }}">
        <source src="{{ site.data.get-the-data-information.index.video.video_2.src }}" type="{{ site.data.get-the-data-information.index.video.video_2.type }}">
        {{ site.data.get-the-data-information.index.video.title }}
      </video>
    </div>
  </div>
</div>
