<!-- MEETOURTEAM -->
<div class="mt-80 mb-80 organisations-earth container">
    <div class="row">
        <div class="col-12">
            <p class="header">{{include.header}}</p>
        </div>
    </div>
    <div class="row">
        {% for organisation in site.data.meetourteam %}
            <div class="col-md-6 col-lg-4 col-6 mb-40">
                <div class="meetourteam-earth-inner">
                    <div class="meetourteam-img">
                        {%- if organisation.image -%}<a href="{{ organisation.url }}"><img src="{{ organisation.image }}" alt="{{ organisation.name }}"></a>{% endif %}
                    </div>
                    <div class="meetourteam-dsc">                                           
                        {%- if organisation.name -%}<h4>{{ organisation.name }}</h4>{% endif %}
                        {%- if organisation.subtitle -%}<p class="subtitle">{{ organisation.subtitle }}</p>{% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- /MEETOURTEAM -->