<!-- MEETOURTEAM -->
<div class="mt-80 mb-80 organisations-earth container">
    <div class="row">
        <div class="col-12">
            <p class="header">{{include.header}}</p>
        </div>
    </div>
    <div class="row">
        {% assign data = site.data['about']['meet-our-team'].index %}
        {% for item in data %}
            <div class="col-md-6 col-lg-4 col-6 mb-40 test">
                <div class="meetourteam-earth-inner">
                    <div class="meetourteam-img">
                        {%- if item.image -%}<a href="{{ item.url }}"><img src="{{ item.image }}" alt="{{ item.name }}"></a>{% endif %}
                    </div>
                    <div class="meetourteam-dsc">                                           
                        {%- if item.name -%}<h4>{{ item.name }}</h4>{% endif %}
                        {%- if item.subtitle -%}<p class="subtitle">{{ item.subtitle }}</p>{% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- /MEETOURTEAM -->