<!-- OUR-BLOG -->
{% assign data = site.data['about']['our-event'].index %}
<div class="container-fluid our-event">
  <div class="mt-80 mb-100">
    <div class="row">
      <div class="col-12">
        <div id="owl-stay-up" class="owl-carousel owl-theme owl-img-responsive">
          {% for item in data %}
            <div class="item">
              <div class="stay-up-card">
                <a href="{{ item.url }}"><img src="{{ item.image }}" alt="{{ item.title }}"></a>
                <p class="title-img">
                  <a href="{{ item.url }}">{{ item.title }}</a>
                </p>
                <span class="body-img">{{ item.subtitle }}</span>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /OUR-BLOG -->
