<div class="container-fluid">
  {% if include.header %}
    <div class="row">
      <p class="new-about-title col-12">
        {{ include.header }}
      </p>
    </div>
  {% endif %}
  {% if include.title %}
    <div class="row">
      <p class="new-about-title col-12">
        {{ include.title }}
      </p>
    </div>
  {% endif %}
  {% assign data = site.data['new-about'].newAbout %}
  <div class="responsive-content">
    <div class="row ">
      {% for item in data limit: 3 %}
        <div class="col-4 img-container">
          {% if forloop.index0 == 0 %}
            <img src="{{ item.image }}" class="img-fluid" alt="Living Earth logo">
          {% elsif forloop.index0 == 1 %}
            <img src="/assets/img/tools2.jpg" class="img-fluid" alt="Living Earth logo">
          {% elsif forloop.index0 == 2 %}
            <img src="/assets/img/tools3.jpg" class="img-fluid" alt="Living Earth logo">
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="row ">
      {% for item in data limit: 3 %}
        <div class="new-about-content col-4">
          <a class="new-about-content-title" href="#">{{ item.title }}</a>
          <p class="new-about-content-subtitle">{{ item.subtitle }}</p>
          <p class="new-about-content-para">{{ item.content }}</p>
          <p class="new-about-content-tagline">{{ item.tagline }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="row mt-5 ">
      {% for item in data offset: 3 limit: 3 %}
        <div class="new-about-content col-4">
          <img src="{{ item.image }}" class="img-fluid" alt="Living Earth logo">
          <a class="new-about-content-title" href="#">{{ item.title }}</a>
          <p class="new-about-content-subtitle">{{ item.subtitle }}</p>
          <p class="new-about-content-para">{{ item.content }}</p>
          <p class="new-about-content-tagline">{{ item.tagline }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="row mt-5 ">
      {% for item in data offset: 6 %}
        <div class="new-about-content col-4">
          <img src="{{ item.image }}" class="img-fluid" alt="Living Earth logo">
          <a class="new-about-content-title" href="#">{{ item.title }}</a>
          <p class="new-about-content-subtitle">{{ item.subtitle }}</p>
          <p class="new-about-content-para">{{ item.content }}</p>
          <p class="new-about-content-tagline">{{ item.tagline }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="row responsive-content-sm">
    {% for item in site.data.new-about.newAbout %}
      <div class="col-md-12 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{{ item.image }}" alt="{{ item.title }}">
          <div class="card-body">
            <h4 class="card-title">{{ item.title }}</h4>
            <h5>{{ item.subtitle }}</h5>
            <p class="card-text">{{ item.content }}</p>
            <p class="card-text"><small class="text-muted">{{ item.tagline }}</small></p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

</div>
