<div class="container mb-64 mt-64 blog-main">
  <div class="row">
    <div class="col-12 col-md-6 blog-main-left-img">
      <a href="#"><img src="/assets/img/blogMainLeft.png" alt=""></a>
    </div>
    <div class="col-12 col-md-6 blog-main-right">
      <div class="blog-main-right-dsc">
        <button type="button">{{include.title-button}}</button>
        <h5>{{include.heading}}</h5>
        <p>
          {{include.subheading}}
        </p>
        <div class="user-profile">
          <div class="user-profile-img">
            <img src="{{include.avatar}}" alt="user">
          </div>
          <div>
            <h2 class="user-name">{{include.username}}</h2>
            <div class="user-status">
              <p class="user-status-date">{{include.user-status-date}}</p>
              <p class="user-status-type">{{include.user-status-type}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
