{% if include.heading %}
    {% assign heading = include.heading %}
{% else %}
    {% assign heading = page.title %}
{% endif %}
<!-- TITLE-INDEX -->
<div class="main-home-section">
    {%- if include.background -%}<img class="main-benner-img" src="{{ include.background }}" alt="{{ heading | escape }}">{% endif %}
    <div class="container welcome-living-main">
        <div class="row">
            <div class="col-12 col-lg-8 welcome-living-earth">
                {%- if include.title -%}<h5>{{ include.title | escape }}</h5>{% endif %}
                {%- if heading -%}<h1>{{ heading | escape }}</h1>{% endif %}
                {%- if include.subheading -%}<p>{{ include.subheading | escape }}</p>{% endif %}
                <div class="welcome-living-button">
                    {%- if include.search -%}<button type="button" onclick="location.href='{{ include.search-url }}'" class="search hover-slide-right">{{ include.search }}</button>{%- endif -%}
                    {%- if include.contact -%}<button type="button" onclick="location.href='{{ include.contact-url }}'" class="get-in-touch hover-slide-transparent">{{ include.contact }}</button>{%- endif -%}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /TITLE-INDEX -->