<div class="commom-class-disabled">
    <div id="interactive-map" class="interactiveMap-display-by-id">
        <div class="tool_side_bar">
            <div class="country_form">
                <select class="form-select" aria-label="Default select example" class="choose_country">
                    <option selected>Choose a country</option>
                    <option value="1">Wales</option>
                    <option value="2">Australia</option>
                    <option value="3">Switzerland</option>
                    <option value="4">Southeast Asia</option>
                </select>

                <!-- INTERACTIVE-MAP-AFTER -->
                <div class="after">
                    <div class="select-year">
                        <div class="select-site-title-industry">
                            <span>SITE</span>
                            <span><img src="/assets//icon/questionmark.svg"></span>
                        </div>
                        <select id="yearDropdown2" class="form-select" aria-label="Select a year" size="1">
                            <option class="label-dropdown" disabled selected>SITE 1</option>
                            <option selected>SITE 1</option>
                            <option value="1">SITE 2</option>
                            <option value="2">SITE 3</option>
                            <option value="3">SITE 4</option>
                        </select>
                    </div>
                    <div class="select-year">
                        <div class="select-site-title-industry">
                            <span>select a year</span>
                            <span><img src="/assets//icon/questionmark.svg"></span>
                            </div>
                        <select id="yearDropdown2" class="form-select" aria-label="Select a year" size="1">
                            <option class="label-dropdown" disabled selected>Select a year</option>
                            {% for year_item in site.data.year.index %}
                            <option value="{{ year_item.year }}">{{ year_item.year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <p class="select-base-map-industry">land</p>
                    <div class="industry-selected-line"></div>
                    <div class="banner-button">
                        {% for tool_item in site.data.tools.sidebar.interactive-map %}
                        <button type="button" class="tool-button-banner">
                            <img src="{{ tool_item.icon }}" alt="{{ tool_item.title }}">
                            <p>{{ tool_item.title }}</p>
                        </button>
                        {% endfor %}
                    </div>
                    <div class="under-select-year"></div>
                    <div class="after-selected-year">
                        <div class="base-land">
                            <input type="checkbox" id="checkbox1" name="checkbox1" value="base-land">
                            <label for="checkbox1">
                                <p>Base Land cover map plus 2017</p>
                            </label>
                            <p class="icon-atfer-selected-year">
                                <span><img src="/assets/icon/download.svg"></span>
                                <span><img src="/assets//icon/questionmark.svg"></span>
                            </p>
                        </div>
                        <div class="no-basemap">
                            <input type="checkbox" id="checkbox2" name="checkbox2" value="no-base-map">
                            <label for="checkbox2">
                                <p> No basemap</p>
                            </label>
                            <p class="icon-atfer-selected-year">
                                <span><img src="/assets/icon/download.svg"></span>
                                <span><img src="/assets//icon/questionmark.svg"></span>
                            </p>
                        </div>
                        <div class="after-selected-line"></div>
                        <div class="land-checkbox">
                            <div class="Canopy">
                                <input type="checkbox" id="landcheckbox1" name="landcheckbox1" value="canopy">
                                <label for="landcheckbox1">Canopy cover 2017</label>
                                <p class="icon-atfer-selected-year">
                                    <span><img src="/assets/icon/download.svg"></span>
                                    <span><img src="/assets//icon/questionmark.svg"></span>
                                </p>
                            </div>
                            <div class="Canopy-continous">
                                <input type="checkbox" id="landcheckbox2" name="landcheckbox2" value="canopy-continous">
                                <label for="landcheckbox2"> Canopy cover (continuous) 2017</label>
                                <p class="icon-atfer-selected-year">
                                    <span><img src="/assets/icon/download.svg"></span>
                                    <span><img src="/assets//icon/questionmark.svg"></span>
                                </p>
                            </div>
                            <div class="life-form">
                                <input type="checkbox" id="landcheckbox3" name="landcheckbox3" value="lifeform">
                                <label for="landcheckbox3"> Lifeform 2017</label>
                                <p class="icon-atfer-selected-year">
                                    <span><img src="/assets/icon/download.svg"></span>
                                    <span><img src="/assets//icon/questionmark.svg"></span>
                                </p>
                            </div>
                            <div class="leaf-type">
                                <input type="checkbox" id="landcheckbox4" name="landcheckbox4" value="leaf-type">
                                <label for="landcheckbox4"> Leaftype / phenology 2017</label>
                                <p class="icon-atfer-selected-year">
                                    <span><img src="/assets/icon/download.svg"></span>
                                    <span><img src="/assets//icon/questionmark.svg"></span>
                                </p>
                            </div>
                            <div class="non-stress">
                                <input type="checkbox" id="landcheckbox5" name="landcheckbox5" value="leaf-type">
                                <label for="landcheckbox5"> Non-trees semi-natural communities 2017</label>
                                <p class="icon-atfer-selected-year">
                                    <span><img src="/assets/icon/download.svg"></span>
                                    <span><img src="/assets//icon/questionmark.svg"></span>
                                </p>
                            </div>
                        </div>
                        <div class="select-year-industry">
                            <select class="form-select-indsutry" aria-label="Select a year industry" size="1">
                                <option class="label-dropdown-industry" >Water</span>
                                </option>
                                {% for year_item in site.data.year.index %}
                                <option value="{{ year_item.year }}">{{ year_item.year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="select-year-industry">
                            <select class="form-select-indsutry" aria-label="Select a year industry" size="1">
                                <option class="label-dropdown-industry" >bIOMASS/CARBON</span>
                                </option>
                                {% for year_item in site.data.year.index %}
                                <option value="{{ year_item.year }}">{{ year_item.year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="select-year-industry">
                            <select class="form-select-indsutry" aria-label="Select a year industry" size="1">
                                <option class="label-dropdown-industry" >Accounting</span>
                                </option>
                                {% for year_item in site.data.year.index %}
                                <option value="{{ year_item.year }}">{{ year_item.year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <!-- /INTERACTIVE-MAP-AFTER -->

            </div>
            <div class="learning_resource">
                <div class="button-tool">
                    <button class="button_tool_tilte" id="learningResourceButton">Go to learning resource</button>
                    <img src="/assets/img/Arrow.png" alt="Arrow Image">
                </div>
                <div class="brand_logo">
                    <img src="/assets/img/sponsor-logo/aberystwyth_university.png" alt="aberystwyth_university">
                    <img src="/assets/img/sponsor-logo/Llywodraeth.png" alt="Llywodraeth">
                    <img src="/assets/img/sponsor-logo/pml.png" alt="pml">
                    <img src="/assets/img/sponsor-logo/australian_goverment.png" alt="australian_goverment">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var learningResourceButton = document.getElementById('learningResourceButton');

        if (learningResourceButton) {
            learningResourceButton.addEventListener('click', function () {
                window.location.href = '/tools/learning-resources';
            });
        }
    });
</script>