<div class="tool_img">
  <img src="{{include.img}}">
  <div class="tool_content">
    <span class="page_link">{{include.permal}}</span>
    <h2 class="title">{{include.title}}</h2>
    {% assign articles = site.data.get-the-data.index %}
    {% for article in articles %}
          <h3 class="article_heading">{{ article.article_heading }}</h3>
          <p class="article_description">{{ article.article_description }}</p>
    {% endfor %}
  </div>
</div>