<div class="tool_img">
  <img src="../assets/img/getdata2.png">
  <div class="tool_content">
    <span class="page_link">{{include.permal}}</span>
    <h2 class="title">{{include.title}}</h2>
    <h3 class="article_heading">{{include.first-heading}}</h3>
    <p class="article_description">
      {{include.first-content-top}}
      <br />
      <br />
      {{include.first-content-bottom}}
    </p>
    <h3 class="article_heading">{{include.second-heading}}</h3>
    <p class="article_description">
      {{include.second-content-top}}
      <br />
      <br />
      {{include.second-content-bottom}}
    </p>
    <video width="400" controls>
      <source src="mov_bbb.mp4" type="video/mp4">
      <source src="mov_bbb.ogg" type="video/ogg">
      Your browser does not support HTML video.
    </video>
  </div>
</div>