<!-- TOOL-HEADING -->

<div class="tool_side_bar">
  <div class="country_form">
    <select class="form-select" aria-label="Default select example" class="choose_country">
      <option selected>{{ site.data.tool-analyze-the-data-map-sidebar.index.choose }}</option>
      {% for country in site.data['tool-analyze-the-data-map-sidebar'].index.countries %}
        <option value="{{ country.value }}">{{ country.name }}</option>
      {% endfor %}
    </select>
    <div class="tool-sidebar-content">
      {% for item in site.data.get-the-data-sidebar-content.index %}
        <div class="tool-sidebar-content-items">
          <div class="title-sub">
            <p class="title">
              {{ item.title }}
              {% comment %} <button
                type="button"
                class="btn"
                data-toggle="tooltip"
                data-placement="right"
                title="{{ item.tooltip }}"
              >
                <img src="{{ item.link }}">
              </button> {% endcomment %}
            </p>
            <p class="subtitle">{{ item.subtitle }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    
  </div>

  <div class="learning_resource">
    <div class="button-tool">
      <button class="button_tool_tilte" id="learningResourceButton">{{ site.data.tool-analyze-the-data-map-sidebar.index.learning_resources.button_text1 }}</button>
      <img src="{{ site.data.tool-analyze-the-data-map-sidebar.index.arrow_img.src }}" alt="{{ site.data.tool-analyze-the-data-map-sidebar.index.arrow_img.alt }}">
    </div>
    <div class="brand_logo">
      {% for logo in site.data['tool-analyze-the-data-map-sidebar'].index.sponsor_logos %}
        <img src="{{ logo.src }}" alt="{{ logo.name }}">
      {% endfor %}
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var learningResourceButton = document.getElementById('learningResourceButton');

    if (learningResourceButton) {
      learningResourceButton.addEventListener('click', function () {
        window.location.href = '/tools/learning-resources';
      });
    }
  });
</script>
