<div class="commom-class-disabled">
    <div id="interactive-map" class="interactiveMap-display-by-id">
        <div class="tool_side_bar">
            <div class="country_form">
                <select class="form-select" aria-label="Default select example" class="choose_country">
                    <option selected>{{ site.data.tool-analyze-the-data-map-sidebar.index.choose }}</option>
                    {% for country in site.data['tool-analyze-the-data-map-sidebar'].index.countries %}
                        <option value="{{ country.value }}">{{ country.name }}</option>
                    {% endfor %}
                </select>

                <!-- INTERACTIVE-MAP-AFTER -->
                <div class="after">
                    <div class="select-year">
                        <div class="select-site-title-industry">
                            <span>{{ site.data.tool-industry-sidebar.index.choose }}</span>
                            <span><img src="{{ site.data.tool-industry-sidebar.index.question_mark_src }}"></span>
                        </div>
                        <select id="yearDropdown2" class="form-select" aria-label="Select a year" size="1">
                            <option class="label-dropdown" disabled selected>{{ site.data.tool-industry-sidebar.index.choose }}</option>
                            <option selected>{{ site.data.tool-industry-sidebar.index.choose }}</option>
                            {% for country in site.data['tool-industry-sidebar'].index.site %}
                                <option value="{{ country.value }}">{{ country.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="select-year">
                        <div class="select-site-title-industry">
                            <span>{{ site.data.tool-interactive-map-sidebar.index.select_year }}</span>
                            <span><img src="{{ site.data.tool-industry-sidebar.index.question_mark_src }}"></span>
                            </div>
                        <select id="yearDropdown2" class="form-select" aria-label="Select a year" size="1">
                            <option class="label-dropdown" disabled selected>{{ site.data.tool-interactive-map-sidebar.index.select_year }}</option>
                            {% for year_item in site.data.year.index %}
                            <option value="{{ year_item.year }}">{{ year_item.year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <p class="select-base-map-industry">{{ site.data.tool-industry-sidebar.index.title.land }}</p>
                    <div class="industry-selected-line"></div>
                    <div class="banner-button">
                        {% for tool_item in site.data.tools.sidebar.interactive-map %}
                        <button type="button" class="tool-button-banner">
                            <img src="{{ tool_item.icon }}" alt="{{ tool_item.title }}">
                            <p>{{ tool_item.title }}</p>
                        </button>
                        {% endfor %}
                    </div>
                    <div class="under-select-year"></div>
                    <div class="after-selected-year">
                        <div class="base-land">
                            <input type="checkbox" id="checkbox1" name="checkbox1" value="base-land">
                            <label for="checkbox1">
                                <p>{{ site.data.tool-industry-sidebar.index.base_land }}</p>
                            </label>
                            <p class="icon-atfer-selected-year">
                                <span><img src="/assets/icon/download.svg"></span>
                                <span><img src="{{ site.data.tool-industry-sidebar.index.question_mark_src }}"></span>
                            </p>
                        </div>
                        <div class="no-basemap">
                            <input type="checkbox" id="checkbox2" name="checkbox2" value="no-base-map">
                            <label for="checkbox2">
                                <p> {{ site.data.tool-industry-sidebar.index.no_base_map }}</p>
                            </label>
                            <p class="icon-atfer-selected-year">
                                <span><img src="/assets/icon/download.svg"></span>
                                <span><img src="{{ site.data.tool-industry-sidebar.index.question_mark_src }}"></span>
                            </p>
                        </div>
                        <div class="after-selected-line"></div>
                        <div class="land-checkbox">
                            {% for item in site.data.industry-sidebar-content.index %}
                                <div class="{{ item.class }}">
                                <input type="checkbox" id="{{ item.id }}" name="{{ item.id }}" value="{{ item.value }}">
                                <label for="{{ item.id }}">{{ item.label }}</label>
                                <p class="icon-atfer-selected-year">
                                    <span><img src="/assets/icon/download.svg"></span>
                                    <span><img src="/assets/icon/questionmark.svg"></span>
                                </p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="select-year-industry">
                            <select class="form-select-indsutry" aria-label="Select a year industry" size="1">
                                <option class="label-dropdown-industry" >{{ site.data.tool-industry-sidebar.index.title.water }}</span>
                                </option>
                                {% for year_item in site.data.year.index %}
                                <option value="{{ year_item.year }}">{{ year_item.year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="select-year-industry">
                            <select class="form-select-indsutry" aria-label="Select a year industry" size="1">
                                <option class="label-dropdown-industry" >{{ site.data.tool-industry-sidebar.index.title.biomass }}</span>
                                </option>
                                {% for year_item in site.data.year.index %}
                                <option value="{{ year_item.year }}">{{ year_item.year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="select-year-industry">
                            <select class="form-select-indsutry" aria-label="Select a year industry" size="1">
                                <option class="label-dropdown-industry" >{{ site.data.tool-industry-sidebar.index.title.accounting }}</span>
                                </option>
                                {% for year_item in site.data.year.index %}
                                <option value="{{ year_item.year }}">{{ year_item.year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <!-- /INTERACTIVE-MAP-AFTER -->

            </div>
            <div class="learning_resource">
                <div class="button-tool">
                    <button class="button_tool_tilte" id="learningResourceButton">{{ site.data.tool-analyze-the-data-map-sidebar.index.learning_resources.button_text1 }}</button>
                    <img src="{{ site.data.tool-analyze-the-data-map-sidebar.index.arrow_img.src }}" alt="{{ site.data.tool-analyze-the-data-map-sidebar.index.arrow_img.alt }}">
                </div>
                <div class="brand_logo">
                    {% for logo in site.data['tool-analyze-the-data-map-sidebar'].index.sponsor_logos %}
                        <img src="{{ logo.src }}" alt="{{ logo.name }}">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var learningResourceButton = document.getElementById('learningResourceButton');

        if (learningResourceButton) {
            learningResourceButton.addEventListener('click', function () {
                window.location.href = '/tools/learning-resources';
            });
        }
    });
</script>